.container-main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
}

.container-main .container-line {
  position: absolute;
  left: 50px;
}

.container-main .container-line svg {
  stroke-dasharray: 760;
  stroke-dashoffset: -760;
  animation: line 3s linear forwards;
}

.container-main .container-line .container-home-icon {
  position: relative;
  top: 10px;
  left: -5px;
}

.container-main .container-line .container-home-icon img.home-icon-line {
  filter: drop-shadow(0px 0px 5px #23113e) drop-shadow(0px 0px 5px #23113e)
    drop-shadow(0px 0px 10px #23113e) drop-shadow(0px 0px 5px #23113e)
    drop-shadow(0px 0px 15px #653aa3);
}

.container-main .container-line .line-about {
  width: 4px;
  margin: 22px 6px;
  border-radius: 10px;
  height: 750px;
  background-image: linear-gradient(
    to bottom,
    #51268f,
    #51268f,
    #a70f87,
    #c8077b,
    #e31b6d
  );
}

.container-main .container-line .container-home-icon img.user-icon-line {
  filter: drop-shadow(0px 0px 5px#2d0515) drop-shadow(0px 0px 5px#2d0515)
    drop-shadow(0px 0px 10px#2d0515) drop-shadow(0px 0px 5px#2d0515)
    drop-shadow(0px 0px 15px #c81860);
}

.container-main .container-home-content .container-presentation {
  position: absolute;
  top: 40%;
  left: 80px;
  width: 100%;
}

.container-main .container-home-content .container-presentation h1 {
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 2rem;
}

.container-main .container-home-content .container-presentation h1 span {
  position: relative;
  top: 10px;
  color: #e31b6d;
  margin-left: 2.8rem;
}

.container-main .container-home-content .container-presentation a {
  position: relative;
  top: 40px;
  left: 120px;
}

.container-main .container-home-content .container-presentation a .button {
  padding: 0.8em 1.8em;
  border: 2px solid #653aa3;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  z-index: 1;
  font-family: inherit;
  color: #653aa3;
}

.container-main
  .container-home-content
  .container-presentation
  a
  .button::before {
  content: "";
  width: 0;
  height: 350%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #653aa3;
  transition: 0.3s ease-in-out;
  display: block;
  z-index: -1;
}

.container-main
  .container-home-content
  .container-presentation
  a
  .button:hover::before {
  width: 105%;
  transition: var(--transition);
}

.container-main
  .container-home-content
  .container-presentation
  a
  .button:hover {
  color: #fff;
  transition: var(--transition);
}

.container-main .container-home-content .container-animation {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

/* blob */

.container-svg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container-svg svg {
  width: 30%;
}

.container-svg svg.blob.three {
  position: absolute;
  top: 320px;
  right: 80px;
}

.container-svg svg.blob.two {
  position: absolute;
  top: 320px;
  left: 80px;
}

.container-main .container-home-content .container-render {
  position: absolute;
  top: 45px;
  right: 0;
  display: none;
}

.container-main .container-home-content .container-render.active {
  display: block;
}

/* spinner */

.container-main .container-home-content .container-loader {
  position: absolute;
  top: 50%;
  right: 300px;
  display: block;
}

.container-main .container-home-content .container-loader.active {
  display: none;
}

.container-main .container-home-content .container-loader .spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.container-main .container-home-content .container-loader .spinner > div {
  background-color: rgba(0, 77, 255, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
}

.container-main
  .container-home-content
  .container-loader
  .spinner
  div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
}

.container-main
  .container-home-content
  .container-loader
  .spinner
  div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.container-main
  .container-home-content
  .container-loader
  .spinner
  div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.container-main
  .container-home-content
  .container-loader
  .spinner
  div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.container-main
  .container-home-content
  .container-loader
  .spinner
  div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.container-main
  .container-home-content
  .container-loader
  .spinner
  div:nth-of-type(6) {
  transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

/* animations */

@keyframes line {
  0% {
    stroke-dashoffset: -450;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
